<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.jakobkrantz.transit.app">
    <uses-permission
        android:name="android.permission.INTERNET">
    </uses-permission>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <permission android:name="se.jakobkrantz.transit.app.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="se.jakobkrantz.transit.app.permission.C2D_MESSAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_mine"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDaxN5IafFjbS9NW2gWNknT-V_smPLLZLc"/>
        <activity
            android:name="se.jakobkrantz.transit.searching.SearchActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="se.jakobkrantz.transit.reporting.ReportActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="se.jakobkrantz.transit.disturbances.DisturbancesActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="se.jakobkrantz.transit.preferences.SettingsActivity"
            android:screenOrientation="portrait"/>
        <receiver
            android:name="se.jakobkrantz.transit.reporting.ResponseBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>

                <category android:name="se.jakobkrantz.tansit.app"/>
            </intent-filter>
        </receiver>
        <service android:name="se.jakobkrantz.transit.reporting.MessageIntentService"/>
    </application>

</manifest>
